{% extends 'base/base2.html' %}

{% block active2 %}
    class="active"
{% endblock %}


{% block content %}
    {% include 'base/nav.html' %}
    <style>
        .div1 {
            margin-top: 15px;
        }
    </style>
    <script src="../../static/js/shopping_order/select_1.js"></script>
    <script src="../../static/js/shopping_order/delete_order.js"></script>
    <script src="../../static/js/shopping_cart/pay_money_sum.js"></script>
    <script src="../../static/js/shopping_cart/pay_money.js"></script>
{##}
{#</head>#}
{#<body>#}

    <div class="container" style="margin-top: 70px">
        <div class="row">
            <div class="col-md-4 col-lg-offset-4" style="text-align: center; margin-top: 30px; background-color: rosybrown">
                <h2>待收货商品展示</h2>
            </div>
        </div>
        <div class="row" style="text-align: center; margin-top: 20px; background-color: burlywood">
            <div class="col-md-1">
                序号
            </div>
            <div class="col-md-1" style="display: none">
                id
            </div>
            <div class="col-md-3">
                商品图片/商品简介/商品价格
            </div>
            <div class="col-md-2">
                手机颜色/存储容量
            </div>
            <div class="col-md-2">
                数量
            </div>
            <div class="col-md-2">
                总价
            </div>
            <div class="col-md-2">
                是否收货
            </div>
        </div>

{#        {% if list %}#}
{#            {% for order_info in ret %}#}
            {% for order_detail in list %}
                <div class="row number1" style="margin-top: 20px; text-align: center; background-color: papayawhip; padding:20px 0;">
                    <div class="col-md-1" style="background-color: lightcyan; height: 80px; line-height:80px;">
                        {{ forloop.counter }}
                    </div>

    {#                <input type="text" id="del_12"  style="display: none" value="{{ i.id }}">#}
                    <div class="col-md-1" style="display: none" id="id_1">{{ order_detail.id }}</div>
                    <div class="col-md-3" style="">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="/shopping_show/detail/?id={{ order_detail.shop_id }}">
                                    <img src='../../{{ order_detail.colorid }}' id="img11" alt="" width="50%">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="/shopping_show/detail/?id={{ order_detail.shop_id }}">
                                    <div>{{ order_detail.intro }}</div>
                                    <br>
                                    ￥<span class="num1">{{ order_detail.price }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="background-color: lightcyan">
                        <div>
                            {{ order_detail.color_name }}
                        </div>
                        <div>
                            {{ order_detail.capacityid }}
                        </div>
                    </div>
                    <div class="col-md-2" style="background-color: papayawhip" id="id123">
                        <div>
                            <button type="button" class="btn1">-</button>
                            <span class="num2" id="number_1">{{ order_detail.buy_count }}</span>
                            <button type="button" class="btn2">+</button>
                        </div>
                    </div>
                    <div class="col-md-2" style="background-color: papayawhip" id="price">
                        <div>
                            ￥<span class="price" id="price_all">{{ order_detail.price_all }}</span>
                        </div>
                    </div>
                    <div class="col-md-2" style="background-color: lightcyan;">
                        <div>
                            <button><a href="/shopping_order/my_evaluate/{{ order_detail.id }}">确定收货</a></button>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h6><b>暂无下单</b></h6>
            {% endfor %}


{#            {% endfor %}#}
{#        {% else %}#}
{#            {% for order_info in list %}#}
{#                #}
{#            {% endfor %}#}
{#        {% endif %}#}


    </div>
{% endblock %}